.movieGallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 20px 0;
  list-style: none;
  justify-content: center;
}

.movieItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 200px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  background: linear-gradient(to right, #ffffff, #f8f8f8, #eaeaea);
}

.movieItem:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.movieTitle {
  font-size: 18px;
  font-weight: 900;
  margin: 10px 0;
  color: #333;
  text-decoration: none;
}

.titleMovie {
  color: #333;
}

.movieTitle a:hover {
  color: blue;
}

.moviePoster {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  object-fit: cover;
  aspect-ratio: 2 / 3;
}

.ratingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.ratingIcon {
  color: orange;
}

.rating {
  margin: 0px 5px;
  font-weight: 500;
  color: #333;
}
